@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

h1, h3 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-weight: 600;
}

h2, h4, p, span, div {
    font-family: 'Open Sans', sans-serif;
}

span, li {
    font-size: 12px;
}

span {
    font-weight: 600;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
    color: #484848;
    line-height: 30px;
}

h2 {
    font-size: 38px;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
}

/*
Header
 */

.drawerItem h3 {
    border-bottom: 1px solid #f4f4f4;
    margin: 10px;
    padding-bottom: 15px;
}

/*
City list view
 */
.cityRankingList h3 {
    margin-left: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.cityRankingCard {
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 20px;
}

.cityRankingCard h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    color: #484848;
    opacity: 0.27;
    font-size: 65px;
    margin: 5px 0;
}

.cityTableImage {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.cardText {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

.cardText h4 {
    margin: 0;
    color: #484848;
}

.cardText p {
    margin: 5px 0;
}

/*
City Profile Card
 */

.headerContainer {
    height: 150px;
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.alignIconHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rankingIcon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    margin-right: 10px;
}

.cityHeader {
    display: inline-block;
}

.media {
    width: 100%;
}

/*
 City Stats Card Component
 */

.statsCard {
    min-width: 360px;
    border-radius: 0;
    max-width: 700px;
}

.cardHeader {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(151, 151, 151, 0.27);
    padding: 4px 0 20px 0;
}

.gridRoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.gridTileRoot {
    border: 1px solid rgba(151, 151, 151, 0.27);
    padding: 0;
}

.gridTileTile {
    padding: 8px;
}

.gridTileRoot:nth-child(even) {
    border-right: none;
}

.gridTileRoot:nth-child(odd) {
    border-left: none;
}

.statsIcon {
    margin-top: 12px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    flex: 1;
    float: left;
}

.statDiv {
    max-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.statDiv div {
    float: right;
}

.statDiv p {
    margin-top: 0;
    text-align: left;
}

/*
Pie Chart
 */
.pieChart {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(151, 151, 151, 0.27);
    padding: 20px 0;
    margin: 10px;
}

.pieChart svg {
    display: inline;
    height: 60%;
    width: 60%;
    margin-right: 20px;
}

/*
Horizontal Legend
 */

.horizontalLegend {
    text-align: center;
}

.horizontalLegend .horizontalLegend-title {
    margin-bottom: 8px;
}

.horizontalLegend .horizontalLegend-scale ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.horizontalLegend .horizontalLegend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}

.horizontalLegend ul.horizontalLegend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
}

.horizontalLegend ul.horizontalLegend-labels {
    display: table;
    margin: 0 auto;
}

.horizontalLegend ul.horizontalLegend-labels li {
    display: inline;
}

/*
Legend

 */

.my-legend {
    display: inline;
    float: right;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
}

.my-legend .legend-scale ul {
    margin: 0 0 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    list-style: none;
    margin-left: 0;
    padding: 5px 0;
    margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.my-legend div {
    font-family: 'Open Sans', sans-serif;
}

a.critigenLogo {
    position: relative;
}

a.critigenLogo:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
Footer
 */
.footer {
    background-color: #404040;
    left: 0;
    bottom: 0;
    height: 100px;
    overflow: hidden;
    width: 100%;
    padding: 0 16px;
    position: relative;
}

.footerP {
    color: #ffffff;
    margin-bottom: 5px;
}

.socialShare {
    position: absolute;
    left: 0;
    padding: 0 16px;
}

.logoDiv {
    position: absolute;
    right: 0;
    padding: 0 16px;
}

.socialShareIcon {
    height: 40px;
    width: 40px;
}