@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

@font-face {
    font-family: Dense;
    src: url('Dense-Regular.otf') format('opentype');
}

h1, h3 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-weight: 600;
}

h2, h4, p, span, div {
    font-family: 'Open Sans', sans-serif;
}

span, li {
    font-size: 12px;
}

span {
    font-weight: 600;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
    color: #484848;
    line-height: 30px;
}

h2 {
    font-size: 38px;
    font-weight: 800;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
}

/*
Splash
 */
.splashPage {
    background-color: #7ac143;
    height:100vh;
    display:table;
    width:100%;
}
.splashContent {
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.splashContent .osmTeamLogo {
    height: 400px;
    width:400px;
}

.splashContent button{
    border: 2px solid #fff;
    color: #ffffff;
    text-transform: none;
    font-size: 14px;
    margin-bottom: 50px;
}

.splashContent h4 {
    color: #ffffff;
}

.splashContent img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;

}

/*
Header
 */

.drawerItem h3 {
    border-bottom: 1px solid #f4f4f4;
    margin: 10px;
    padding-bottom: 15px;
    cursor: pointer;
}

/*
City list view
 */
.ranking {
    font-family: 'Dense', serif;
}

.cityRankingList h3 {
    margin-left: 24px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.cityRankingCard {
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 20px;

}

.cityRankingCard h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    color: #484848;
    opacity: 0.27;
    font-size: 65px;
    margin: 5px 0;
}

.cityTableImage {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.cardText {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.cardText h4 {
    margin: 0;
    color: #484848;
    font-size: 22px;
}

.cardText p {
    margin: 5px 0;
}

/*
City Profile Card
 */

.headerContainer {
    height: 150px;
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 960px) {
    .headerContainer img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        height: 70% !important;

    }

    .headerContainer {
        position: static;
        height: 150px;
    }

    .alignIconHeader {
        float: right;
        text-align: right;
        padding-right: 40px;
        padding-top: 100px;
        top: auto !important;
        left: auto !important;
        transform: none !important;
        position: static !important;
        -webkit-transform: none !important;
    }
}

@media (min-width: 1440px) {
    .headerContainer {
        height: 350px;
    }
}

.alignIconHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

canvas {
    display: inline-block;
    vertical-align: middle;
}

.cityHeader {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    padding-left: 8px;
}

.media {
    width: 100%;
    padding: 5px;
}

.gridItem {
    display: flex;
}

@media (min-width: 960px) {
    .cardGrid {
        margin: 0 auto;
        padding: 5px 30px 0 30px;

    }

}

/*
 City Stats Card Component
 */

.statsCard {
    border-radius: 0;
    width: 100%;
}

.cardHeader {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid rgba(151, 151, 151, 0.27);
    padding: 15px 0 20px 0;
}

.gridRoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.gridTileRoot {
    border: 1px solid rgba(151, 151, 151, 0.27);
    padding: 0;
}

.gridTileTile {
    padding: 4px;
}

.gridTileRoot:nth-child(even) {
    border-right: none;
}

.gridTileRoot:nth-child(odd) {
    border-left: none;
}

.gridList {
    width: 100%;
}

.statsIcon {
    margin-top: 12px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    flex: 1;
    float: left;
}

.statDiv {
    max-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.statDiv div {
    float: right;
}

.statDiv p {
    margin-top: 0;
    text-align: left;
    white-space: nowrap;
}

@media (max-width: 480px) {
    .statDiv h2 {
        font-size: 24px;
    }

    .statDiv p {
        font-size: 12px;
    }

    .statsIcon {
        height: 20px;
        width: 20px;
        margin: 8px;
    }
}

@media (max-width: 320px) {
    .statDiv h2 {
        font-size: 20px;
    }

    .statDiv p {
        font-size: 11px;
    }

    .statsIcon {
        height: 20px;
        width: 20px;
        margin: 4px;
    }
}

/*
Pie Chart
 */
.pieChart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(151, 151, 151, 0.27);
    padding: 20px 0;
    margin: 10px;
}

.pieChart svg {
    display: inline;
    height: 60%;
    width: 60%;
    margin-right: 20px;
}

@media (min-width: 960px) {
    .pieChart svg {
        height: 30%;
        width: 30%;
    }
}

/*
Horizontal Legend
 */

.horizontalLegend {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.horizontalLegend .horizontalLegend-title {
    margin-bottom: 8px;
}

.horizontalLegend .horizontalLegend-scale ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.horizontalLegend .horizontalLegend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}

.horizontalLegend ul.horizontalLegend-labels li span {
    display: block;
    float: left;
    height: 7px;
    width: 50px;
}

.horizontalLegend ul.horizontalLegend-labels {
    display: table;
    margin: 0 auto;
}

.horizontalLegend ul.horizontalLegend-labels li {
    display: inline;
}

/*
Legend

 */

.my-legend {
    display: inline;
    float: right;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
}

.my-legend .legend-scale ul {
    margin: 0 0 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    list-style: none;
    margin-left: 0;
    padding: 5px 0;
    margin-bottom: 2px;
    display: table;
}

.my-legend ul.legend-labels li span {
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #999;
    display: table-cell;
}

.my-legend ul.legend-labels li p {
    display: table-cell;
    font-size: 12px;
}

.my-legend div {
    font-family: 'Open Sans', sans-serif;
}

a.critigenLogo {
    position: relative;
}

a.critigenLogo:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
Footer
 */
.footer {
    background-color: #404040;
    left: 0;
    bottom: 0;
    height: 100px;
    overflow: hidden;
    width: 100%;
    padding: 0 16px;
    position: fixed;
}

.footerP {
    color: #ffffff;
    margin-bottom: 5px;
}

.socialShare {
    position: absolute;
    left: 0;
    padding: 0 16px;
}

.logoDiv {
    position: absolute;
    right: 0;
    padding: 0 16px;
}

.socialShareIcon {
    height: 40px;
    width: 40px;
}