@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

@font-face {
    font-family: Dense-Regular;
    src: url('Dense-Regular.otf') format('opentype');
}

h1, h2.cityScore, h3 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-weight: 600;
}

h2, h4, p, span, div {
    font-family: 'Open Sans', sans-serif;
}

span, li {
    font-size: 12px;
}

span {
    font-weight: 600;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
    color: #484848;
    line-height: 30px;
}

h2 {
    font-size: 38px;
    font-weight: 800;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
}

a {
    color: #456823;
    text-decoration: none;
}

/*
Splash
 */
.splashPage {
    background-color: #1ef813;
    height: 100vh;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.splashPageFirstHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
      background-color: #F7F8F6;
}

.splashPageThumbnailPart {
    /*height: 427px;*/
    margin-top: 164px;
    margin-left: 152px;
    /*margin-right: 152px;*/
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    /*align-items: flex-start;*/
    /*align-content: space-between;*/
}

.splashPageIntro {
    /*height: 657px;*/
    width: auto;
    text-align: left;
    position: fixed;
    left: 152px;
    top: 198px;
}

.which-city-has-the-b {
  height: 144px;
  width: 310px;
  color: #000000;
  font-family: mit;
  font-size: 56px;
  letter-spacing: 0;
  line-height: 72px;
  font-weight: normal;
  text-align: left;
  line-height: 72px;
}

.critigen-created-thi {
  /*height: 128px;*/
  /*width: 464px;*/
  color: rgba(0,0,0,0.7);
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  font-weight: normal;
}


.splashPageIntroPic {
  margin-left: 100px;
  /*height: 657px;*/
  width: auto;
  background-color: #F7F8F6;
}

.landing_page_image {
    height: content-box;
    width: content-box;
}

.splashPageExplorePart{
  /*height: 326px;*/
  border-radius: 16px;
  background-color: #F7F8F6;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 152px;
  top: 681px;

}

.splashPageCoastalCitiesExploreButtonPart {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: left;
}

.splashPageCoastalCitiesExploreCitiesPart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 100%;
}

.cityThumbnail1 {
  height: 144px;
  width: 144px;
  left: 192px;
    top: 793px;
    align-content: center;
    justify-content: center;
    margin: 40px;
}
.cityThumbnailImage {
     transform: scale(2);
    position: absolute;
    justify-items: center;
    margin: 40px;
    border-radius: 8px;
}

.numberCircle {
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    background-color: rgba(131, 125, 131, 0.83);
    opacity: 70%;
    font-family: "Open Sans Condensed";
    font-weight: bold;
    position: relative;
    margin: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
    color: #FFFFFF;
}

.splashPageCoastalCitiesExplore{
  height: 326px;
  width: inherit;
  border-radius: 16px;
  background-color: #CACACA;
}

.splashPageUSCitiesExplore {
  /*height: 326px;*/
  border-radius: 16px;
  background-color: #CACACA;
   position: relative;
  left: 728px
}
.coastal-cities {
  max-width: 167px;
  height: 40px;
  color: #000000;
  font-family: "Open Sans", serif;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 17px;
}

.button {
  height: 40px;
  width: 206px;
  border-radius: 8px;
  background-color: #000000;
  margin-top: 40px;
  margin-left: 107px;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  cursor: pointer;
}

.coastal-cities-is-a {
  height: 120px;
  max-width: 100%;
  color: rgba(0,0,0,0.7);
  font-family: "Open Sans";
  font-size: 3vw;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 40px;
}

.explore-rankings {
  color: #f0f0f0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.31px;
  line-height: 16px;
  margin-left: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.arrow {
 height: 30px;
 margin-top: 5px;
 margin-left: 8px;
}

.splashPageSecondHalf {
  position: absolute;
    top: 1081px;
  width:100%;
height:100%;
  background-color: #F7F8F6;
}

.splashPageSecondHalfContainer {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;

}

.splashPageSecondHalfImage {
  position: absolute;
  width:100%;
  height: 100%
}

.about-critigen {
  /*height: 294px;*/
  /*width: 944px;*/
  /*margin-left: 48px;*/
    position: absolute;
    font-family: "Open Sans", serif;
    font-weight: normal;
    margin-left: 24px;
}

.critigen-is-a-global {
  /*height: 150px;*/
  /*width: 848px;*/
  color: rgba(0,0,0,0.7);
  font-family: "Open Sans";
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  top: 50px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 3vw;
}

.part-of-osm {
  /*height: 150px;*/
  /*width: 848px;*/
  color: rgba(0,0,0,0.7);
  font-family: "Open Sans";
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  top: 100px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 3vw;
}
.about-critigen-rectangle {
    margin: 24px;
    display: flex;
    max-width: 100%;
    min-height: 344px;
    align-items: flex-start;
    padding-left: 17px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #006ff5;
    /*height: 100%;*/
    /*width: 100%;*/
  /*!*height: 294px;*!*/
  /*!*width: 944px;*!*/
  /*border-radius: 16px;*/
  /*background-color: #FFFFFF;*/
  /*box-shadow: 0 2px 40px 0 rgba(191,201,185,0.2);*/
  /*position: relative;*/
  /*top: 64px;*/
  /*padding: 17px;*/
  /*margin: 5px;*/
}

.splashContent {
    flex: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.splashContent .osmTeamLogo {
    height: 240px;
    width: 240px;
}

.flexItem button {
    border: 3px solid #fff;
    color: #ffffff;
    border-radius: 8px;
    text-transform: none;
    margin-bottom: 50px;
    padding: 20px 30px;
}

.flexItem button span {
    font-size: 20px;
}

.splashContent h4 {
    color: #ffffff;
    font-weight: normal;
}

@media (min-width: 767px) {
    .splashContent .osmTeamLogo {
        padding-top: 80px;
        width: 60vw;
        height: 60vw;
        max-height: 500px;
        max-width: 500px;
    }

    .splashContent h4 {
        font-size: 19px;
    }

    .flexItem button {
        padding: 30px 45px;
    }

    .flexItem button span {
        font-size: 24px;
    }
}

.splashContent img, .critigenLogo {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.critigenLogo {
    flex: 1;
    align-self: end;
}

/*
Header
 */

.beta {
    color: white;
    display: inline-block;
    font-size: 10px;
    padding-left: 7px;
    font-weight: 600;
    margin: 0;
    vertical-align: middle;
}

.drawerItem h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #484848;
    border-bottom: 1px solid #f4f4f4;
    margin: 10px;
    padding-bottom: 15px;
    cursor: pointer;
}

.rankingHeader {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

.headerDiv {
    background-color: #000000;
    height: 60px;
    display: table;
    width: 100%;
    text-align: left;
}

.header {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
}

.toolbar {
    height: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

/*
City list view
 */
.ranking {
    font-family: 'Dense-Regular', serif;
}

.cityRankingCard {
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 16px auto;
    max-width: 540px;

}

.cityRankingCard h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    color: #484848;
    opacity: 0.27;
    font-size: 65px;
    margin: 0;
    letter-spacing: -3px;
}

.cityTableImage {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    vertical-align: middle;
}

.cardText {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
}

.cardText h4 {
    margin: 0;
    color: #484848;
    font-size: 22px;
    font-weight: 600;
}

.cardText .score {
    color: #a3a3a3;
    font-size: 14px;
    padding-top: 5px;
}

@media (max-width: 600px) {
    .cardText h4 {
        font-size: 18px;
    }
}

.cardText p {
    margin: 5px 0;
}

/*
City Profile Card
 */

.headerContainer {
    height: 220px;
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.headerContainer img {
    object-fit: cover;
}

@media (min-width: 480px) {
    .headerContainer {
        height: 300px;
    }
}

@media (min-width: 600px) {
    .headerContainer {
        height: 400px;
    }
}

@media (min-width: 1440px) {
    .headerContainer {
        height: 350px;
    }
}

.alignIconHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

@media (min-width: 960px) {
    .headerContainer img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        height: 70% !important;
        object-fit: cover;
    }

    .headerContainer {
        position: static;
        height: 150px;
    }

    .alignIconHeader {
        width: 100%;
        text-align: center;
        padding-top: 23px;
        top: auto !important;
        transform: none !important;
        position: static !important;
        -webkit-transform: none !important;
    }
}

.navArrowLeft {
    position: absolute;
    color: white;
    fill: white;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 2;
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 5px #000);
    filter: drop-shadow(2px 2px 5px #000);
}

.navArrowRight {
    position: absolute;
    color: white;
    fill: white;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 2;
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 5px #000);
    filter: drop-shadow(2px 2px 5px #000);
}

canvas {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}

.cityHeader {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    padding-left: 8px;
    text-shadow: 2px 2px 5px #000;
}

.scoreContainer {
    text-align: center;
}

h2.cityScore {
    display: inline-block;
    padding: 10px;
    font-size: 26px;
    margin: 10px;
}

@media (min-width: 960px) {
    h2.cityScore {
        color: white;
        text-shadow: 2px 2px 5px #000;
        font-size: 36px;
    }
}

.media {
    width: 100%;
    padding: 5px;
}

.gridItem {
    display: flex;
    margin-top: 5px;
}

@media (min-width: 960px) {
    .cityHeader {
        font-size: 45px;
    }

    .cityProfileCard .cardGrid {
        /*margin: 0 auto;*/
        padding: 5px 8vw 0 8vw;
        margin-left: 30px;
    }

    .navArrowLeft {
        top: 90px;
        width: 60px !important;
        height: 60px !important;
    }

    .navArrowRight {
        top: 90px;
        width: 60px !important;
        height: 60px !important;
    }

}

/*
 City Stats Card Component
 */

.statsCard {
    width: 100%;
}

.cardHeader {
    text-align: left;
    margin: 30px;
}

.cardHeaderContainer {
    border-bottom: 1px solid rgba(151, 151, 151, 0.27);
}

.statsIcon {
    margin-top: 12px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    flex: 1;
    float: left;
}

.trendingUp {
    margin-top: 12px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    flex: 1;
    float: left;
    fill: #7AC143;
}

.trendingDown {
    margin-top: 12px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    flex: 1;
    float: left;
    color: red;
}

.trendingFlat {
    margin-top: 12px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    flex: 1;
    float: left;
    color: gold;
}
.statDiv {
    height: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: inherit;
    border-bottom: 1px solid rgba(151, 151, 151, 0.27);
}

.statDiv div {
    float: right;
    margin-left: 30px;
}

.statDiv p {
    margin-top: 0;
    text-align: left;
    white-space: nowrap;
}

.statDivFull {
    text-align: center;
    width: 100%;
    max-width: 175px;
}

@media (max-width: 480px) {
    .statsCard {
        width: 100%;
    }
    .statDiv {
        align-items: center;
    }
    .statDiv h2 {
        font-size: 26px;
    }

    .statDiv p {
        font-size: 13px;
    }

    .statsIcon {
        height: 25px;
        width: 25px;
        margin-left: 0;
    }

    .statDivFull {
        max-width: 120px;
        min-width: 120px;
    }
    .trendingDown {
        height: 25px;
        width: 25px;
        margin-left: 0;
        fill: #7ac143;
    }
    .trendingUp {
        height: 25px;
        width: 25px;
        margin-left: 0;
        color: red;
    }
    .trendingFlat {
        height: 25px;
        width: 25px;
        margin-left: 0;
        color: gold;
    }
}

@media (max-width: 320px) {
    .statsCard {
        width: 100%;
    }
    .statDiv {
        align-items: flex-start;
    }
    .statDiv h2 {
        font-size: 20px;
    }

    .statDiv p {
        font-size: 11px;
    }

    .statsIcon {
        height: 20px;
        width: 20px;
        margin: 4px;
    }
    .statDivFull {
        max-width: 120px;
        min-width: 120px;
    }
    .trendingDown {
        height: 20px;
        width: 20px;
        margin: 4px;
        color: #7ac143;
    }
    .trendingUp {
        height: 20px;
        width: 20px;
        margin: 4px;
        color: red;
    }
    .trendingFlat {
        height: 20px;
        width: 20px;
        margin: 4px;
        color: gold;
    }
}


/*
Pie Chart
 */
.chartTitle {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans";


}
.barChart {
    margin-left: 20px;
    margin-right: 10px;

}

/*
Horizontal Legend
 */

.horizontalLegend {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.horizontalLegend .horizontalLegend-title {
    margin-bottom: 8px;
}

.horizontalLegend-scale p {
    float: left;
    margin: 0;
    padding-right: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #000000;
}

.horizontalLegend .horizontalLegend-scale ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.horizontalLegend .horizontalLegend-scale ul li {
    display: block;
    float: left;
    width: 30px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 8px;
    list-style: none;
}

.horizontalLegend ul.horizontalLegend-labels li span {
    display: block;
    float: left;
    height: 7px;
    width: 30px;
}

.horizontalLegend ul.horizontalLegend-labels {
    display: table;
    margin: 0 auto;
}

.horizontalLegend ul.horizontalLegend-labels li {
    display: inline;
}

/*
Legend

 */

.my-legend {
    display: inline;
    float: right;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.my-legend .legend-scale ul {
    margin: 0 0 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    list-style: none;
    margin-left: 0;
    padding: 5px 0;
    margin-bottom: 2px;
    display: table;
}

.my-legend ul.legend-labels li span {
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
    display: table-cell;
}

.my-legend ul.legend-labels li p {
    display: table-cell;
    font-size: 11px;
}

.my-legend div {
    font-family: 'Open Sans', sans-serif;
}

a.critigenLogo {
    position: relative;
}

a.critigenLogo:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
Footer
 */
.footer {
    background-color: #404040;
    left: 0;
    bottom: 0;
    height: 100px;
    overflow: hidden;
    width: 100%;
    padding: 0 16px;
    position: fixed;
}

.footerP {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 13px;
}

.socialShare {
    position: absolute;
    left: 0;
    padding: 0 16px;
}

.logoDiv {
    position: absolute;
    right: 0;
    padding: 0 16px;
}

.socialShareIcon {
    height: 45px;
    width: 45px;
}

/* add bottom padding to all views except splash for the site footer */
.cityRankingList, .cityProfileCard, .aboutUs, .methodology {
    padding-bottom: 100px;
}

.gridItem h5 {
    padding-left: 16px;
    padding-right: 16px;
}

.equation {
    width: 100%;
    max-width: 400px;
}

.methodologyContent a {
    color: #3f91cc;
}

.appBar {
    background-color: black !important;
    display: table !important;
}

.nav {
    height: 100%;
    display: inline-block;
    float: right;
}


.categories {
    display: inline-block;
    color: #FFFFFF;
}

.categories > h4 {
    margin-left: 40px;
    margin-right: 40px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0;
    cursor: pointer;
}

.categories > h1 {
    margin-top: 30px;
    margin-left: 30px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 7px;
    cursor: pointer;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}
